/*This CSS will be used to style the place.html page and contain all media queries*/

/* Colors for the flag of rome 
#8e001c
#ffb302

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
}

header {
    background-color: #8e001c;
    color: #ffb302;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: .5rem solid #ffb302;
    
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom: .5rem solid #8e001c;
}

.card {
    
}

#weatherIcon {
    width: 50px;
    height: 50px;
}