/* CSS HSL */
:root {
    --antiflash-white: hsla(220, 8%, 92%, 1);
    --cerulean: hsla(194, 100%, 27%, 1);
    --cadet-gray: hsla(197, 21%, 70%, 1);
    --cerulean-2: hsla(193, 100%, 28%, 1);
    --moonstone: hsla(188, 99%, 38%, 1);
}

@media (min-width: 640px) {
    header h1 {
        font-size: 2.5rem;
        float: left;
        margin: 1rem;
    }

    main h1 {
        font-size: 2rem;
        margin: 0 auto;
        padding: 1rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 15px;
        margin: 0 auto;
        padding: 0.5rem .5rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        font-size: 1.5rem;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a:hover {
        background-color: var(--moonstone);
    }

}